.posts-display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create-post-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .create-post-button:hover {
    background-color: #218838;
  }
  